html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --title-color: #2e2f42;
  --text-color: #434455;
  --footer-text-color: #e7e9fc;
  --background-color: #f4f4fd;
  --white-color: #ffffff;
  --accent-color: #4d5ae5;
  --active-color: #404bbf;
  --icon-color: #8e8f99;
  --bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  --footer-bg: rgba(255, 255, 255, 0.1);
  --footer-hover: #31d0aa;
  --overlay: rgba(46, 47, 66, 0.4);
  --modal-bg: #fcfcfc;
  --transit: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --bdrop-color: rgba(46, 47, 66, 0.4);
  --input-border: 1px solid rgba(33, 33, 33, 0.2);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  background-color: transparent;
  cursor: pointer;
  border-color: transparent;
  font-family: inherit;
  border-radius: 4px;
  text-align: center;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 72px;
}

.card-content {
  padding: 32px 16px;
}

/* ______________Header_____________ */
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding: 24px 0;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-right: 77px;
}

.logo-span {
  color: var(--accent-color);
}

.header-nav {
  display: flex;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: color var(--transit);
  position: relative;
  padding-bottom: 26px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}


.nav-link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--active-color);
  border-radius: 2px;
  left: 0;
  bottom: 0;
}

.header-address-list {
  display: flex;
}

.header-address-item:not(:last-child) {
  margin-right: 40px;
}

.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color var(--transit);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--accent-color);
}

/* ______________Hero_____________ */
.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--title-color);
  background-image: var(--bg-gradient), url("../images/office-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 192px 0;
  text-align: center;
}

.main-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
  max-width: 500px;
  margin: 0 auto 48px;
}

.hero-button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  transition: background-color var(--transit), box-shadow var(--transit);
}

.hero-button:hover,
.hero-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--active-color);
}

/* ______________Qwalities_____________ */
.qwalities {
  padding: 120px 0;
}

.qwalities-list {
  display: flex;
  justify-content: space-between;
}

.qwalities-icon {
  padding: 24px 100px;
  background-color: var(--background-color);
  border-radius: 4px;
  margin-bottom: 8px;
}

.qwalities-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
}

.qwalities-item {
  max-width: 264px;
}

.qwalities-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* ______________Works_____________ */
.works {
  padding-bottom: 120px;
}

.works-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ______________Team_____________ */
.team {
  background-color: var(--background-color);
  padding: 120px 0;
}

.team-title {
  margin-bottom: 8px;
  color: var(--title-color);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  width: 264px;
  background-color: var(--white-color);
  text-align: center;
}

.team-text {
  margin-bottom: 12px;
}

.team-content {
  padding: 32px 16px;
}

.team-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transit);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--active-color);
}

/* ______________Customers_____________ */
.customers {
  padding: 130px 0 120px;
}

.customers-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color var(--transit), fill var(--transit);
}

.customers-icon {
  fill: var(--icon-color);
  transition: fill var(--transit);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--active-color);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--active-color);
}

/* ______________Portfolio_____________ */
.portfolio {
  padding: 96px 0 120px 0;
}

.portfolio-filters {
  display: flex;
  max-width: 586px;
  justify-content: space-between;
  margin: 0 auto 72px;
  align-items: center;
}

.portfolio-button {
  border: 1px solid var(--footer-text-color);
  background-color: var(--background-color);
  color: var(--accent-color);
  font-weight: 700;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  transition: box-shadow var(--transit), background-color var(--transit), color var(--transit), border-color var(--transit);
}

.portfolio-button:hover,
.portfolio-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
  color: var(--white-color);
  border-color: var(--accent-color);
}

.portfolio-image-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  border: 0.5px solid var(--background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  width: calc((100% - 48px) / 3);
  transition: box-shadow var(--transit);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link {
  display: block;
}

.portfolio-link:hover .portfolio-wrapper-text {
  transform: translateY(0);
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-wrapper-text {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  background-color: var(--accent-color);
  width: 100%;
  height: 100%;
  color: var(--background-color);
  transform: translateY(100%);
  transition: transform var(--transit);
}

.portfolio-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* ______________Footer_____________ */
.footer {
  background-color: var(--title-color);
  padding: 100px 0;
}

.footer-inner {
  display: flex;
}

.footer-logo {
  color: var(--background-color);
  margin-bottom: 16px;
  display: inline-block;
}

.footer-text {
  color: var(--footer-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 270px;
}

.footer-media {
  margin-right: auto;
}

.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}

.footer-wrapper {
  margin-right: 120px;
}

.footer-socials {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--footer-bg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transit);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--footer-hover);
}

.footer-input-title {
  color: var(--white-color);
  font-weight: 500;
  margin-bottom: 16px;
}

.footer-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  height: 40px;
  width: 264px;
  line-height: 2;
  padding: 8px 16px;
  color: var(--white-color);
  margin-right: 24px;
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-submit-btn {
  border: 1px solid var(--accent-color);
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  padding: 8px 24px;
  display: inline-flex;
  align-items: center;
  transition: background-color var(--transit), border-color var(--transit);
}

.footer-submit-btn:hover,
.footer-submit-btn:focus {
  background-color: var(--active-color);
  border-color: var(--active-color);
}

.footer-input-icon {
  fill: var(--white-color);
  margin-left: 16px;
}

/* ______________Modal_____________ */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bdrop-color);
  transition: opacity var(--transit), visibility var(--transit);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 576px;
  background-color: var(--modal-bg);
  border-radius: 4px;
  padding: 72px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform var(--transit);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--footer-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #000000;
  transition: fill var(--transit), background-color var(--transit);
}

.modal-close:hover {
  fill: var(--white-color);
  background-color: var(--active-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  display: flex;
  flex-direction: column;
}

.modal-title {
  font-weight: 500;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 16px;
}

.modal-label {
  margin-bottom: 8px;
}

.modal-input {
  width: 100%;
  border: var(--input-border);
  border-radius: 4px;
  height: 40px;
  padding: 0 16px 0 38px;
  transition: border-color var(--transit);
}

.modal-input:focus {
  border: 1px solid var(--accent-color);
  outline: transparent;
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-input-name {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--icon-color);
  margin-bottom: 4px;
  display: block;
}

.modal-input-wrap {
  display: block;
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--title-color);
  transition: fill var(--transit);
}

.modal-textarea {
  width: 100%;
  border: var(--input-border);
  border-radius: 4px;
  min-height: 120px;
  resize: none;
  padding: 8px 16px;
  transition: border-color var(--transit);
  margin-bottom: 8px;
}

.modal-textarea:focus {
  border: 1px solid var(--accent-color);
  outline: transparent;
}

.modal-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.04em;
  font-size: 12px;
  line-height: 1.33;
}

.modal-checkbox-label {
  display: flex;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.33;
  color: #757575;
  margin-bottom: 24px;
}

.modal-checkbox-icon {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--title-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: fill var(--transit), background-color var(--transit), border-color var(--transit);
}

.modal-checkbox:checked + .modal-checkbox-icon {
  fill: var(--background-color);
  background-color: var(--active-color);
  border-color: var(--active-color);
}

.modal-privacy-link {
  color: var(--accent-color);
}

.modal-submit-btn {
  align-self: center;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transit);
  width: 169px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: var(--active-color);
}